
.metadata/.plugins/org.eclipse.core.resources/.history/20/10be16e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/29/40c0c1e791bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/35/300c17e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/37/502074e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/5b/e04816e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/64/804957e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/6a/403317e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/71/c0fa15e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/74/009716e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/90/a0ac15e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/b1/2072c1e791bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/d7/c0fc68e891bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.history/f0/c087c0e791bb001d1f85c8b3aae541c8
.metadata/.plugins/org.eclipse.core.resources/.projects/practicas/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/practicas/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.apt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.2.0.0.20220705-1221.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
practicas/src/main/java/com/microservicios/practicas/PracticasApplication.java
practicas/src/test/java/com/microservicios/practicas/PracticasApplicationTests.java
practicas/target/classes/com/microservicios/practicas/PracticasApplication.class
practicas/target/classes/META-INF/maven/com.microservicios/practicas/pom.properties
practicas/target/classes/META-INF/maven/com.microservicios/practicas/pom.xml
practicas/target/test-classes/com/microservicios/practicas/PracticasApplicationTests.class
.metadata/.lock
